.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 51, 4, 0.3),rgba(3, 53, 3, 0.3)), url(images/gilles-lambert-mSK5nNsAsLY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 13px;
}

.nav-logo {
  border: 3px solid white;
  border-radius: 5%;
  color: white;
  text-decoration-line: none; 
  font-size: 20px;
}

.nav-link{
  font-size: 17px;
  color: white !important;
  justify-content: space-between;
}

.nav-link:hover{
  background: goldenrod;
  border-radius: 3px solid white;
}

.text-box{
  position: absolute;
  color: white;
  width: 90%;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.text-box h1{
  font-size: 60px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 20px;
  color: white;
}
.text-box img {
  max-width: 30%;
  border-radius: 50%;
}