.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 51, 4, 0.3),rgba(3, 53, 3, 0.3)), url(images/chris-lee-70l1tDAI6rM-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 13px;
}

.nav-logo {
  border: 3px solid white;
  border-radius: 5%;
  color: white;
  text-decoration-line: none; 
  font-size: 20px;
}

.nav-link{
  font-size: 17px;
  color: white !important;
  justify-content: space-between;
}

.nav-link:hover{
  background: goldenrod;
  border-radius: 3px solid white;
}

/* contact form */

.Contact {
  position: relative;
  min-height: 110vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/main/Background.jpg);
  background-size: cover;
}

.Contact .Contactus {
  max-width: 800px;
  text-align: center;
  margin-top: -190px;
}

.Contact .Contactus h2 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.Contact .Contactus p {
  font-weight: 500;
  color: #fff;
}

.Container {
  width: 100%;
  align-items: center;
  margin-top: 80px;
}

.Container .ContactInfo {
  width: 50px;
  display: flex;
  flex-direction: column;
}

.Container .ContactInfo .Box {
  position: relative;
  padding: 20px;
  display: flex;
}

.Container .ContactInfo .Box .Icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
}

.Container .ContactInfo .Box .Text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.Container .ContactInfo .Box .Text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.Form {
  position: absolute;
  top: 550px;
  left: 900px;
  transform: translate(-50%, -50%);
  max-width: 550px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.Form h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.Form .input_field {
  margin-bottom: 10px;
}

.Form .input_field input[type="text"],
.Form textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.Form textarea {
  resize: none;
  height: 80px;
}

.Form .btn input[type="submit"] {
  border: 0px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: goldenrod;
  color: #332902;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}