*{
  box-sizing: border-box;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 51, 4, 0.3),rgba(3, 53, 3, 0.3)), url(images/gilles-lambert-mSK5nNsAsLY-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 13px;
}

.nav-logo {
  border: 3px solid white;
  border-radius: 5%;
  color: white;
  text-decoration-line: none; 
  font-size: 20px;
}

.nav-link{
  font-size: 17px;
  color: white !important;
  justify-content: space-between;
}

.nav-link:hover{
  background: goldenrod;
  border-radius: 3px solid white;
}

/* portfolio section */

body{

}

.port-header h1{
  text-align: center;
  padding: 32px;
  color: white;
}

.port-header p {
  color: white;
  font-size: 20px;
  text-align: center;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}