


.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(images/orfeas-green-G5A5ZNjS2tE-unsplash.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  font-size: 13px;
}

.nav-logo {
  border: 3px solid white;
  border-radius: 5%;
  color: blueviolet;
  text-decoration-line: none; 
  font-size: 20px;
}

.nav-link{
  font-size: 17px;
  color: blueviolet !important;
  justify-content: space-between;
}

.nav-link:hover{
  background: white;
  border-radius: 3px;
}
