.header nav {

}
.header {
  text-align: right;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  list-style: none
}
.intro {
position: relative;
text-align: center;
color: white;
}